
<h1 mat-dialog-title style="text-align: center;">{{noticia.titular}}</h1>

<div mat-dialog-content>


<span class="titulo">Fecha</span>

<p>{{noticia.fecha}}</p>


<span class="titulo">Entrada</span>

<p>{{noticia.entrada}}</p>


<span class="titulo">Cuerpo</span>

<p>{{noticia.cuerpo}}</p>


<span class="titulo">Imagen</span>
<p>{{noticia.imagen}}</p>

<span class="titulo">Categoria</span>
<p>{{noticia.categoria_id}}</p>

<span class="titulo">Usuario</span>
<p>{{noticia.usuario_id}}</p>

</div>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" tabindex="-1">Aceptar</button>
</div>

